@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;  
}

/*
Ne pas effacer
*/

.ChangerC:hover * {
  color: black;
}
/*
Ne pas effacer
*/
