@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  
}
/*
Ne pas effacer
*/
.swiper-pagination span{
  visibility: hidden;
}
.swiper-button-prev{
  visibility: hidden;
}
.swiper-button-next{
  visibility: hidden;
}
/*
Ne pas effacer
*/
