@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  
}
.Points{
  width: 4px;
  height: 4px;
  margin-bottom: 2px;
  border-radius: 50%;
  background-color: black;
}
/* color: #9147ff; */
#Parcourir:hover{
  color: #5c16c5;
  cursor: pointer;
}
/* color : #772ce8*/
#BarreSearch:focus{
  outline : 4px solid #772ce8;
  border: none;
}
#BarreSearch{
    width: 90%;
    border: 1px solid black;
    border-radius: 5px 0px 0px 5px;
    height: 6vh;
    position: relative;
    z-index: 9;
}
#BTNFly{
  width: 10%;
  border-radius: 0px 5px 5px 0px;
  height: 5.5vh;
  position: relative;
  z-index: 3;
  background-color: #efeff1;
  border: none;
}
.BTNLogin{
  width: 8vw;
  height: 5vh;
  border-radius: 3px;
  background-color: #efeff1;
  border: none;
}
.BTNSub{
  height: 5vh;
  width: 6vw;
  border-radius: 3px;
  color: white;
  background-color: #9147ff;
  border: none;
}

.GridLive{
  width: 100%;
  height: 8%;
  border: 1px solid transparent;
  display: grid;
  grid-template-columns: 18% 82%;
}
.GridLive:hover{
  cursor: pointer;
}
.ContenuPrincipale{
  width: 78%;
  height: 100%;
  margin-top: 10vh;
  border: 1px solid yellow; 
  margin-left: 20vw;
}

.InfosVideosSlide{
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.GridSlide{
  width: 100%;
  height: 300px;
  display: grid;
  border: 1px solid green;
  grid-template-columns: 75% 25%;
}
.GridGlobaleHomeSlide{
    width: 100%;
    height: 300px;
    display: grid;
    border: 1px solid yellow;
    grid-template-columns: 12% 77% 11%;
}

.StyleInfosSlide{
    width: 100%;
    display: grid;
    border: 1px solid transparent;
    grid-template-columns: 40% 60%;
}
.StyleTags{
    background-color: #efeff1;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 1% 2% 1% 2%;
    align-items: center;
}
.StyleTags2{
  background-color: #efeff1;
  text-align: center;
  display: flex;
  border-radius: 5px;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.swiper-pagination span{
  visibility: hidden;
}
.swiper-button-prev{
  visibility: hidden;
}
.swiper-button-next{
  visibility: hidden;
}

#TitreChainesLive{
  color: #5c16c5;
  font-size: 18px;
  font-weight: 550;
}

#TitreChainesLive:hover{
    color: #9147ff;
    text-decoration: underline;
}
.Disposition{
  width: 100%;
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.SectionVideo{
  width: 32%;
  height: 55vh;
  border: 1px solid sandybrown;
  display: grid;
  margin-bottom: 2%;
  grid-template-rows: 60% 40%;
}
.SectionVideo:hover{
  cursor: pointer;
}
.DivLive{
  width: 12%;
  height: 12%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eb0400;
  color: white;
  border-radius: 5px;
  pointer-events: none;
    position: absolute;
    margin: 1rem;
    top: 0px;
    left: 0px;
}
.DivSpectateurs{
  height: 10%;
  background-color: black;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 3px;
  pointer-events: none;
    position: absolute;
    margin: 1rem;
    bottom: 0px;
    left: 0px;
}
.DetailsVdeoSection{
  width: 100%;
  display: grid;
  padding-top: 2%;
  box-sizing: border-box;
  border: 1px solid transparent;
  grid-template-columns: 15% 85%;
}